/creatures/Repast.settings
/creatures/debug.log.1
/creatures/velocity.log.1
/creatures/debug.log
/creatures/velocity.log
*/bin/*

*.class
/creatures/ssh_remote_model.log
/creatures/core
/creatures/hs_err_pid2516.log
/creatures/hs_err_pid5533.log
/creatures/hs_err_pid6260.log
/doc/example/fedcsis.aux
/doc/example/fedcsis.log
/doc/example/fedcsis.synctex.gz
/doc/paper/sand_kings.aux
/doc/paper/sand_kings.log
/doc/paper/sand_kings.synctex.gz
/creatures/*.log

.project
